* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', monospace; 
}

a {
    text-decoration: none;
}

/* home */
.bg {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.home__container {
    text-align: center;
}

.home__title {
    font-size: 60px;
    margin: 100px 0;
} 

.home__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__btn-function {
    background-color: rgb(229, 229, 229);
    margin: 40px;
    padding: 40px 100px;
    border-radius: 100px;
    min-width: 70vw;
    opacity: .6;
}

.btn__link {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 200;
    letter-spacing: 7px;
    text-transform: uppercase;
}

/* Penalty Box Manager and Penalty Timer */
header {
    text-align: right;
    margin-right: 55px;
}

.menu img {
    width: 70px;
    padding-top: 30px;
}

nav:hover ul{
    display: block;
}

.menu__list {
    display: none;
}

.menu__list-item {
    font-size: 40px;
    padding: 30px 20px 20px 0;
    font-family: 'Anton', monospace; 
    display: inline;
}

.menu__list-item a {
    color: rgb(0, 0, 0);
}

.container__stopwatch {
    width: 100%;
}

.stopwatch {
    border-radius: 40px;
    margin: 40px 25px;
    padding: 20px 40px;
    display: flex;
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,.2);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,.2);
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,.2);
}

.stopwatch__col-1 {
    text-align: left;
    width: 40%; 
}

.stopwatch__col-2 {
    text-align: right;
    width: 55%;
}

.title__position {
    font-size: 40px;
    margin-top: 70px;
}

.timer {
    font-size: 110px;
    font-weight: 200;
}

.btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 15px;
    padding: 40px 60px;
    border-radius: 100px;
    text-align: center;
}

.btn__reset { 
    background-color: rgb(229, 229, 229);
    color: rgb(109, 109, 109);
    margin-top: 40px;
}

.btn__start, 
.btn__start-all { 
    color: rgb(17, 120, 18);
    background: rgba(76,208,61,1);
    background: -moz-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,208,61,1)), color-stop(50%, rgba(76,208,61,1)), color-stop(100%, rgba(120,224,94,1)));
    background: -webkit-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: -o-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: linear-gradient(to right, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
}

.btn__stop ,
.btn__stop-all {
    background: rgb(255,0,0);
    background: -moz-linear-gradient(-45deg, rgba(255,0,0,1) 0%, rgba(255,0,90,1) 100%); 
    background: -webkit-linear-gradient(-45deg, rgba(255,0,0,1) 0%,rgba(255,0,90,1) 100%); 
    background: linear-gradient(135deg, rgba(255,0,0,1) 0%,rgba(255,0,90,1) 100%); 
}    

.btn__all{
    text-align: center;
}

/* page both */
.both__box {
    border-bottom: 1px solid  rgb(109, 109, 109);
    margin: 10px 35px;
    display: flex; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.box__timer-btn {
    display: flex; 
    margin-right: 10px;
    justify-content: space-around;  
}

.both__title-position {
    font-size: 40px;
    text-align: left;  
}

.box__timer-btn .timer {
    font-size: 90px;
    margin: 10px;
}

.both__btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 0 15px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px; 
    width: 135px;
    height: 135px; 
}

.both__btn.btn__reset,
.both__btn.btn__start  {
    margin-top: 0px;
}


