* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3 {
    font-family: 'Anton', monospace; 
}

a {
    text-decoration: none;
}

/* home */

.home__container {
    text-align: center;
    margin-top: 250px;
}

.home__title {
    font-size: 60px;
    margin: 100px 0;
} 

.home__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__btn-function {
    background-color: rgb(229, 229, 229);
    margin: 30px;
    padding: 40px 100px;
    border-radius: 100px;
}

.btn__link {
    font-size: 40px;
    color: rgb(109, 109, 109);
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* Penalty Box Manager and Penalty Timer */
header {
    text-align: right;
    margin-right: 55px;
}

.menu {
    font-size: 40px;
    padding: 30px; 
}

.container__stopwatch {
    width: 100%;
}

.stopwatch {
    border-radius: 40px;
    margin: 40px 25px;
    padding: 50px 40px;
    display: flex;
    -webkit-box-shadow: 0px -5px 300px -55px rgba(207,205,207,1);
    -moz-box-shadow: 0px -5px 300px -55px rgba(207,205,207,1);
    box-shadow: 0px -5px 300px -55px rgba(207,205,207,1);
}

.stopwatch__col-1 {
    text-align: left;
    width: 40%; 
}

.stopwatch__col-2 {
    text-align: right;
    width: 55%;
}

.title__position {
    font-size: 60px;
    margin-top: 70px;
}

.timer {
    font-size: 150px;
    font-weight: 200;
}

.btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    padding: 40px 60px;
    border-radius: 100px;
}

.btn__reset { 
    background-color: rgb(229, 229, 229);
    color: rgb(109, 109, 109);
    margin-top: 77px;
}

.btn__start, 
.btn__start-all { 
    background: rgba(76,208,61,1);
    background: -moz-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,208,61,1)), color-stop(50%, rgba(76,208,61,1)), color-stop(100%, rgba(120,224,94,1)));
    background: -webkit-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: -o-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    background: linear-gradient(to right, rgba(76,208,61,1) 0%, rgba(76,208,61,1) 50%, rgba(120,224,94,1) 100%);
    }

.btn__all{
    text-align: center;
}

/* page both */
header {
    text-align: right;
    margin-right: 55px;
}

.menu {
    font-size: 40px;
    padding: 30px; 
}

.both__box {
    border-bottom: 1px solid  rgb(109, 109, 109);
    margin: 30px;
    display: flex; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.box__timer-btn {
    display: flex; 
    margin-right: 10px;
    justify-content: space-around;  
}

.both__title-position {
    font-size: 40px;
    text-align: left;  
}

.both__timer {
    font-size: 100px;
    margin: 15px;
}

.both__btn {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 15px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;  
}

.both__btn.btn__reset,
.both__btn.btn__start  {
    margin-top: 0px;
}


